/*+ hide="Результат со стилями (показать стили)" */
.rounded-horizontal-blocks .item {
	float: left;
	padding: 6px;
	margin: 0 2px;
	border: 1px solid gray;
	border-radius: 10px;
	cursor: pointer;
	font-size: 90%;
	background: #FFF5EE;
}

.vertical-splitter {
	float: left;
	padding: 6px;
	margin: 0 2px;
}

.item:hover {
	text-decoration: underline;
}
/* changed */
.menu__item {
	float: left;
	padding: 6px;
	margin: 0 2px;
	border: 1px solid gray;
	border-radius: 10px;
	cursor: pointer;
	font-size: 90%;
	background: #FFF5EE;
	list-style: none;
}

.menu__item:hover {
	text-decoration: underline;
}

.menu__vertical-splitter {
	list-style: none;
	float: left;
}

.menu__vertical-splitter:before {
	display: inline-block;
	content: '|';
	padding-top: 5px;
}
